.carousel-inner{
    position: relative;
}

.carousel-inner{
    height: 450px;
   
}
.carousel-item {
    height: 450px;
}
.carousel-item img{
    background-size: cover;
    
}

.quick-buy-ticket{
    background: rgb(67,70,75);
    background: linear-gradient(180deg, rgba(67,70,75,1) 10%, rgba(0,0,0,0.6559873949579832) 89%);
   width: 20%;
   height: 340px;
   color: white;
   position: absolute;
   top: 25%;
   left: 75%;
   z-index: 3;
} 

.quick-buy-ticket h3{
    background-color: #f26b38;
    width: 60%;
    height: 10%;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 6px;
}


.quick-buy-ticket .title-btn{
    color: white;
    background: rgb(67,70,75);
    margin: 15px 0;
    margin-left: 5px;
    border: none;
}

.quick-buy-ticket .title-btn:hover{
    color: #f26b38;
}

.select-all select{
    width: 16rem;
    margin: 15px 9px;
    font-size: 16px;
    background-color:#696f79;
    border: none;
    color: white;
}
.select-ticket .btn-buy-ticket{
    background: #f26b38;
    padding: 10px 20px;
    display: flex;
    margin-left:60%;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    border: none;
}
.select-ticket .btn-buy-ticket:hover{
  
}

