

.galaxy-header{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.galaxy-title{
    text-decoration: none;
    color: black;
}

.login{
    display: flex;
    font-size: 12px;
}



.login .login-btn{
    text-decoration: none;
    color: black;

}

.login .login-language{
    margin-left: 10px;
    color: black;
}

