.menu-main{
    background-color: #000;
    height: 50px;
}

.container{
    color: white;
}

.menu-list ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 16px;
    font-size: 15px;
    text-transform: uppercase;
}


.menu-list li{
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    
}

.menu-list a{
    color: white;
}

  

  .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

  .dropdown-content a:hover {background-color: #ddd;}
  

  .dropdown:hover .dropdown-content {
    display: block;
    margin-top: 10px;;
}
  